.header-job-post {
  height: 100%;
  padding-bottom: 2em;
  .logo-wrap {
    margin-top: 2em;
  }
}
.job-inner-title {
  margin-top: 1em;
  color: #414141;
}
.header-post-title {
  .country-job {
    text-align: left;
    font-size: 1.3em;
    color: #E34F26;
    font-weight: normal;
    float: left;
  }
}
.job-inner-header {
  float: left;
  width: 100%;
  position: relative;
}
.list-share {
  position: absolute;
  right: 0;
  li {
    float: left;
    margin: .5em;
  }
}
.job-inner-info {
  width: 100%;
  float: left;
  border-top: 1px solid #ccc;
  margin-bottom: 2em;
  ul {
    padding: .5em;
  }
  li {
    float: left;
    margin-left: .5em;
    padding-left: .5em;
    border-left: 1px solid #ccc;
    &:first-child {
      padding-left: 0;
      margin-left: 0;
      border-left: none;
    }
  }
  .name-company {
    color: #E34F26;
  }
  .type-job {
    width: auto;
  }
}
.job-description {
  width: 100%;
  float: left;
}

.job-description-section {
  border-top: 1px solid #e34f26;
  padding: 15px 10px 10px;
  background-color: #ECECEC;
  border-radius: 0 0 5px 5px;
}

.more-info p {
  font-size: 1em;
  color: #696969;
}
.link-email {
  color: #e34f26;
}
