footer {
  position: relative;
  background-color: #333;
  margin-top: 2em;
  padding: 2em 0;
  .logo {
    width: 40px;
    display: block;
    float: left;
    margin-right: 1em;
  }
  .icon-github {
    float: right;
    color: #fff;
    font-size: 1.5em;
    margin-top: 8px;
    &:hover {
      text-decoration: none;
    }
  }
  .copyright {
    margin-top: 1em;
    color: #fff;
    font-size: .8em;
    float: left;
    p {
      margin: 0;
      a {
        font-weight: bold;
        color: #fff;
      }
    }
  }
  .footer-wrap {
    center(800px);
  }
}
