footer {
  position: relative;
  background-color: #333;
  margin-top: 2em;
  padding: 2em 1em;
  .logo {
    width: 40px;
    display: block;
    float: left;
    margin-right: 1em;
    @media screen and (max-width: 380px) {
      center(60px);
    }
  }
  .icon-github {
    float: right;
    color: #fff;
    font-size: 1.5em;
    margin-top: 8px;
    @media screen and (max-width: 380px) {
      top: 15px;
      position: relative;
      left: 50%;
      margin-left: -17px;
      float: none;
    }
    &:hover {
      text-decoration: none;
    }
  }
  .copyright {
    margin-top: 1em;
    color: #fff;
    font-size: .8em;
    float: left;
    @media screen and (max-width: 380px) {
      center(161px);
      text-align: center;
    }
    p {
      margin: 0;
      float: left;
      &:first-child {
        border-right: 2px solid #fff;
        padding-right: 5px;
        margin-right: 5px;
        @media screen and (max-width: 380px) {
          border-right: none;
          border-bottom: 1px solid #fff;
          padding: 0 0 .5em;
          margin: 0 0 .5em;
        }
      }
      a {
        font-weight: bold;
        color: #fff;
      }
    }
  }
  .footer-wrap {
    center(800px);
  }
}
