footer {
  background-color: #333;
  margin-top: 2em;
  padding: 2em;
  nav {
    center(240px);
    height: 90px;
    img {
      width: 50px;
    }
  }
  .copyright {
    center(210px);
    text-align: center;
    margin-top: 1em;
    color: #fff;
    font-size: .8em;
    p {
      margin: 0;
    }
  }
}
