header {
	width: 100%;
	height: 100vh;
}
nav {
	padding: 10px;
	height: 20px;
	ul {
		list-style: none;
		float: right;
	}
	li {
		float: left;
		margin: 0 1em;
	}
	.nav-item {
		text-transform: uppercase;
		font-size: .8em;
	}
}
.logo-wrap {
	center(250px);
	margin-top: 4em;
	h1 {
		margin: 0;
	}
	img {
		center(180px);
	}
	p {
		margin: 0;
		font-size: 2em;
		text-align: center;
		text-transform: uppercase;
		font-weight: bolder;
		font-family: arial;
		margin-top: 20px;
	}
}
.header-tagline {
	center(500px);
	text-align: center;
	.tagline-color {
		margin-top: 1em;
		margin-bottom: 0;
		color: red;
	}
	.tagline-sub {
		padding: 1em;
		margin-top: 2em;
		margin-bottom: 0;
		border-top: 2px solid #F3F3F3;

	}
}
.scroll-button {
	center(40px);
	margin-top: 20px;
	.btn {
		display: block;
		width: 40px;
		height: 40px;
		border-radius: 50%;
		border: 1px solid #ccc;
		background: transparent;
		font-size: 1.9em;
  		color: #E34F26;
	}
}
