.job-list-wrap {
	width: 100%;
	float: left;
	padding: 1em;
	border-bottom: 1px solid #ccc;
	&:hover {
		background-color: #F0F0F0;
	}
}

.icon {
	col(.12);
	text-align: center;
}

.text-group {
	col(.59);
}
.job-title {
	display: block;
	text-transform: uppercase;
	margin-bottom: 1em;
	color: #e34f26;
}
.name-company {
	font-size: .9em;
}
.country-job {
	col(.26);
	text-align: center;
	float: right;
	margin-right: 0;
}
.type-job {
	col(.15);
	text-align: center;
}
