<header ng-if="!isInnerJob"> 
    <nav>
        <ul>
            <li>
                <a class="nav-item" href="">Vagas</a>
            </li>
            <li>
                <a class="nav-item" href="">About</a>
            </li>
        </ul>
    </nav>
    <div class="logo-wrap">
        <h1>
            <a href="#/">
                <img src="imgs/logo_frontjobs.svg" alt="Logo FrontJobs">
            </a>
        </h1>
        <p>Front Jobs</p>
    </div>
    <div class="header-tagline">
        <p class="tagline-color">Procurando um Front-end?</p>
        <p class="tagline-sub">Se você ou sua empresa está precisando de um Front-end, anuncie sua vaga no FrontJobs</p>
    </div>
    <div class="new-job-button">
        <a class="btn" href="#/new">Anuncie uma vaga!</a>
    </div>
</header>


<header ng-if="isInnerJob" class="header-job-post">
    <nav>
        <ul>
            <li>
              <a class="nav-item" href="">Vagas</a>
            </li>
            <li>
              <a class="nav-item" href="">About</a>
            </li>
        </ul>
    </nav>
    <div class="logo-wrap">
        <h1>
            <a href="#/">
              <img src="imgs/logo_frontjobs.svg" alt="Logo FrontJobs">
            </a>
        </h1>
        <p>Front Jobs</p>
    </div>
</header>
