<!doctype html>
<html class="no-js" ng-app="app">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>FrontJobs</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="imgs/icon_frontjobs.png">
        <link rel="shortcut icon" type="image/x-icon" href="imgs/icon_frontjobs.png">
        <!-- Place favicon.ico in the root directory -->

        <link rel="stylesheet" href="bower_components/normalize.css/normalize.css">
        <link rel="stylesheet" href="styles/styles.css">
        <script src="bower_components/modernizr/modernizr.js"></script>
    </head>
    <body ng-controller="frontJobsCtrl">
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->


        <main>
            <header class="header-job-post">
                <nav>
                    <ul>
                        <li>
                          <a class="nav-item" href="">Vagas</a>
                        </li>
                        <li>
                          <a class="nav-item" href="">About</a>
                        </li>
                    </ul>
                </nav>
                <div class="logo-wrap">
                    <h1>
                        <a href="#">
                          <img src="imgs/logo_frontjobs.svg" alt="Logo FrontJobs">
                        </a>
                    </h1>
                    <p>Front Jobs</p>
                </div>
            </header>
            <section class="container job-form">
              <article class="job-inner-form">

                  <article class="job-list-wrap" ng-repeat="job in nJobs">
                      <!-- <i class="icon">Icons</i> -->
                      <div class="text-group">
                          <a class="job-title" href="">{{job.titleJob}}</a>
                          <span class="name-company">{{job.company}}</span>
                      </div>
                      <span class="country-job">São Paulo</span>
                      <strong class="type-job">{{job.jobModality.modality}}</strong>
                  </article>
                  <h1>Cadastrar Novo Job</h1>
                  <div class="job-form-content">
                    <form name="newJobForm">
                      <fieldset>
                        <label>Empresa</label>
                        <input type="text" ng-model="job.company" placeholder="Empresa S/A" ng-required="true">
                      </fieldset>
                      <fieldset>
                        <label>Site da empresa</label>
                        <input type="text" ng-model="job.website" placeholder="http://www.seusite.com.br" ng-required="true">
                      </fieldset>
                      <fieldset>
                        <label>Titulo da vaga</label>
                        <input type="text" ng-model="job.titleJob" placeholder="Desenvolvedor Front End" ng-required="true">
                      </fieldset>
                      <fieldset>
                        <label>Localização</label>
                        <input type="text" ng-model="job.country" placeholder="São Paulo - SP" ng-required="true">
                      </fieldset>
                      <fieldset>
                        <label>Modalidade do trabalho</label>
                        <select ng-model="job.jobModality" ng-options="typeJob.modality for typeJob in jobModality" ng-required="true">
                          <option value="">Selecione uma opção</option>
                        </select>
                      </fieldset>
                      <fieldset>
                        <label>E-mail para contato</label>
                        <input type="text" ng-model="job.email" placeholder="contato@empresa.com" ng-required="true">
                      </fieldset>
                      <fieldset>
                        <label>Habilidades/Requerimentos</label>
                        <textarea ng-model="job.hability" placeholder="Descreva as habilidades requeridas para se candidatar a vaga" ng-required="true"></textarea>
                      </fieldset>
                      <fieldset>
                        <label>Descrição</label>
                        <input type="text" ng-model="job.description" placeholder="Descrição da vaga" ng-required="true">
                      </fieldset>
                      <fieldset>
                        <label>Salário</label>
                        <select ng-model="job.jobSalary" ng-options="typeSalary.salary for typeSalary in jobSalary" ng-required="true">
                          <option value="">Selecione uma opção</option>
                        </select>
                      </fieldset>
                      <div class="btn-group">
                        <button class="btn btn-cancel">Voltar</button>
                        <button class="btn btn-confirm" ng-click="addNewJob(job)" ng-disabled="newJobForm.$invalid">Criar Job</button>
                      </div>
                    </form>
                  </div>
                
              </article>
            </section>
            <div ng-include="'views/footer.html'"></div>
        </main>

        <!-- // <script src="bower_components/jquery/dist/jquery.min.js"></script> -->
        <script src="bower_components/angular/angular.js"></script>
        <!-- Firebase -->
        <script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
        <!-- AngularFire -->
        <script src="https://cdn.firebase.com/libs/angularfire/1.1.2/angularfire.min.js"></script>

        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/frontJobsCtrl.js"></script>
        <script src="scripts/services/jobsAPIServices.js"></script>


        <!-- // <script src="scripts/main.js"></script> -->
    </body>
</html>
