* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
body {
  font-family: Arial;
  font-size: 16px;
  margin: 0;
}
ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.container {
  *zoom: 1;
  width: auto;
  max-width: 960px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
}
.container:before,
.container:after {
  content: '';
  display: table;
}
.container:after {
  clear: both;
}
.container.job-form {
  *zoom: 1;
  width: auto;
  max-width: 700px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
}
.container.job-form:before,
.container.job-form:after {
  content: '';
  display: table;
}
.container.job-form:after {
  clear: both;
}
@font-face {
  font-family: 'fontello';
  src: url("../../fonts/fontello.eot?97317916");
  src: url("../../fonts/fontello.eot?97317916#iefix") format('embedded-opentype'), url("../../fonts/fontello.woff?97317916") format('woff'), url("../../fonts/fontello.ttf?97317916") format('truetype'), url("../../fonts/fontello.svg?97317916#fontello") format('svg');
  font-weight: normal;
  font-style: normal;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: 'fontello';
    src: url("../../fonts/fontello.svg?97317916#fontello") format('svg');
  }
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
/* opacity: .8; */
/* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
/* fix buttons height, for twitter bootstrap */
  line-height: 1em;
/* Animation center compensation - margins should be symmetric */
/* remove if not needed */
  margin-left: 0.2em;
/* you can be more comfortable with increased icons size */
/* font-size: 120%; */
/* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
/* Uncomment for 3D effect */
/* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
.icon-down-open-big:before {
  content: '\e801';
  position: relative;
  top: 5px;
  left: 4px;
  margin: 0;
  color: #fff;
}
.btn-group {
  padding: 0.5em;
}
.btn {
  padding: 0.5em;
  border-radius: 5px;
  border: none;
  background-color: #fff;
  font-size: 0.9em;
  position: relative;
  outline: none;
}
.btn.btn-cancel {
  background-color: #cb4e4d;
  color: #fff;
}
.btn.btn-confirm {
  background-color: #17aa56;
  color: #fff;
}
button[disabled] {
  background-color: #dedede !important;
}
header {
  width: 100%;
  height: 100vh;
  background: url("../imgs/workspace.jpg") no-repeat;
  background-size: cover;
}
nav {
  padding: 10px;
  height: 20px;
}
nav ul {
  list-style: none;
  float: right;
}
nav li {
  float: left;
  margin: 0 1em;
}
nav .nav-item {
  text-transform: uppercase;
  font-size: 0.8em;
  color: #fff;
  text-shadow: 0px 1px 1px #000;
}
.logo-wrap {
  *zoom: 1;
  width: auto;
  max-width: 250px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  margin-top: 4em;
}
.logo-wrap:before,
.logo-wrap:after {
  content: '';
  display: table;
}
.logo-wrap:after {
  clear: both;
}
.logo-wrap h1 {
  margin: 0;
}
.logo-wrap img {
  *zoom: 1;
  width: auto;
  max-width: 180px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
}
.logo-wrap img:before,
.logo-wrap img:after {
  content: '';
  display: table;
}
.logo-wrap img:after {
  clear: both;
}
.logo-wrap p {
  margin: 0;
  font-size: 2em;
  text-align: center;
  text-transform: uppercase;
  font-weight: bolder;
  font-family: arial;
  margin-top: 20px;
  color: #fff;
  text-shadow: 0px 1px 1px #000;
}
.header-tagline {
  *zoom: 1;
  width: auto;
  max-width: 350px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
}
.header-tagline:before,
.header-tagline:after {
  content: '';
  display: table;
}
.header-tagline:after {
  clear: both;
}
.header-tagline .tagline-color {
  margin-top: 1em;
  margin-bottom: 0;
  color: #fff;
  text-shadow: 0px 1px 1px #000;
  font-size: 1.6em;
}
.header-tagline .tagline-sub {
  padding: 1em;
  margin-top: 2em;
  margin-bottom: 0;
  border-top: 2px solid #f3f3f3;
  color: #fff;
  text-shadow: 0px 1px 1px #000;
}
.scroll-button {
  *zoom: 1;
  width: auto;
  max-width: 155px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  margin-top: 20px;
}
.scroll-button:before,
.scroll-button:after {
  content: '';
  display: table;
}
.scroll-button:after {
  clear: both;
}
.scroll-button .btn {
  display: block;
  border: 1px solid #ccc;
  background: transparent;
  font-size: 1em;
  color: #fff;
  transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
}
.scroll-button .btn:hover {
  background-color: #e34f26;
  text-decoration: none;
}
.job-list-wrap {
  width: 100%;
  float: left;
  padding: 1em;
  border-bottom: 1px solid #ccc;
}
.job-list-wrap:hover {
  background-color: #f0f0f0;
}
.icon {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 9.36%;
  margin-left: 0%;
  margin-right: 3%;
  text-align: center;
}
.icon:before,
.icon:after {
  content: '';
  display: table;
}
.icon:after {
  clear: both;
}
.icon:last-child {
  margin-right: 0%;
}
.text-group {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 57.77%;
  margin-left: 0%;
  margin-right: 3%;
}
.text-group:before,
.text-group:after {
  content: '';
  display: table;
}
.text-group:after {
  clear: both;
}
.text-group:last-child {
  margin-right: 0%;
}
.job-title {
  display: block;
  text-transform: uppercase;
  margin-bottom: 1em;
  color: #e34f26;
}
.name-company {
  font-size: 0.9em;
}
.country-job {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 23.78%;
  margin-left: 0%;
  margin-right: 3%;
  text-align: center;
  float: right;
  margin-right: 0;
}
.country-job:before,
.country-job:after {
  content: '';
  display: table;
}
.country-job:after {
  clear: both;
}
.country-job:last-child {
  margin-right: 0%;
}
.type-job {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 12.45%;
  margin-left: 0%;
  margin-right: 3%;
  text-align: center;
}
.type-job:before,
.type-job:after {
  content: '';
  display: table;
}
.type-job:after {
  clear: both;
}
.type-job:last-child {
  margin-right: 0%;
}
footer {
  background-color: #333;
  margin-top: 2em;
  padding: 2em;
}
footer nav {
  *zoom: 1;
  width: auto;
  max-width: 240px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  height: 90px;
}
footer nav:before,
footer nav:after {
  content: '';
  display: table;
}
footer nav:after {
  clear: both;
}
footer nav img {
  width: 50px;
}
footer .copyright {
  *zoom: 1;
  width: auto;
  max-width: 330px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
  margin-top: 1em;
  color: #fff;
  font-size: 0.8em;
}
footer .copyright:before,
footer .copyright:after {
  content: '';
  display: table;
}
footer .copyright:after {
  clear: both;
}
footer .copyright p {
  margin: 0;
}
footer .copyright p a {
  font-weight: bold;
  color: #fff;
}
.header-job-post {
  height: 100%;
  padding-bottom: 2em;
}
.header-job-post .logo-wrap {
  margin-top: 2em;
}
.job-inner-title {
  margin-top: 1em;
  color: #414141;
}
.header-post-title .country-job {
  text-align: left;
  font-size: 1.3em;
  color: #e34f26;
  font-weight: normal;
}
.job-inner-header {
  float: left;
  width: 100%;
  position: relative;
}
.list-share {
  position: absolute;
  right: 0;
}
.list-share li {
  float: left;
  margin: 0.5em;
}
.job-inner-info {
  width: 100%;
  float: left;
  border-top: 1px solid #ccc;
  margin-bottom: 2em;
}
.job-inner-info ul {
  padding: 0.5em;
}
.job-inner-info li {
  float: left;
  margin-left: 0.5em;
  padding-left: 0.5em;
  border-left: 1px solid #ccc;
}
.job-inner-info li:first-child {
  padding-left: 0;
  margin-left: 0;
  border-left: none;
}
.job-inner-info .name-company {
  color: #e34f26;
}
.job-inner-info .type-job {
  width: auto;
}
.job-description {
  width: 100%;
  float: left;
}
.job-form-content fieldset {
  border: none;
  padding: 0.5em;
  margin: 0;
}
.job-form-content label {
  display: block;
  width: 100%;
  margin-bottom: 0.3em;
  font-weight: bold;
  font-size: 0.9em;
}
.job-form-content input,
.job-form-content select,
.job-form-content textarea {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0.7em;
  font-size: 0.8em;
  width: 100%;
  background-color: #f3f3f3;
}
.job-form-content select {
  width: 200px;
}
