<section class="container job-inner">
  <article class="job-inner-wrap">
    <div class="job-inner-header">
      <div class="header-post-title">
        <h1 class="job-inner-title">{{job.titleJob}}</h1>
        <h2 class="country-job">{{job.country}}</h2>
        <div class="job-inner-info">
          <ul>
            <li class="date-post">{{job.timestamp | date: 'dd/MM/yyyy'}}</li>
            <li>
              <a class="name-company" ng-href="{{job.website}}">{{job.company}}</a>
            </li>
            <li class="type-job">{{job.jobModality}}</li>
          </ul>
        </div>
      </div>
    </div>
    <section class="job-description">
      <p>{{job.hability}}</p>
      <p class="job-description-section">{{job.description}}</p>
    </section>
  </article>
  <a class="btn btn-default" href="#/">Voltar</a>
</section>
