* {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

body {
	font-family: Arial;
	font-size: 16px;
	margin: 0;
}

ul, li {
	padding: 0;
	margin: 0;
	list-style: none;
}

a {
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}
.container {
	center(800px);
	&.job-form {
		center(700px);
	}
}
