.btn-group {
	padding: .5em;
}
.btn {
	padding: .5em;
	border-radius: 5px;
	border: none;
	background-color: #fff;
	font-size: .9em;
	position: relative;
	outline: none;
	&.btn-cancel {
		background-color: #CB4E4D;
		color: #fff;
	}
	&.btn-confirm {
		background-color: #17aa56;
		color: #fff;
	}
}
button[disabled] {
	background-color: #DEDEDE !important;
}
