body {
	font-family: Arial;
	font-size: 16px;
	margin: 0;
}

ul, li {
	padding: 0;
	margin: 0;
	list-style: none;
}

a {
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}
.container {
	center(70%);
	&.job-form {
		center(700px);
	}
}
